In [2]:
import re
import pandas as pd
import numpy as np

# Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.

In [2]:
EnteredString = input('Enter a string: ')
List= re.sub( '[ ,.]',":",EnteredString)
print(List)

Enter a string: 'Python Exercises, PHP exercises.'
'Python:Exercises::PHP:exercises:'

# Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.

In [56]:
data ={'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
df = pd.DataFrame(data)
df=df['SUMMARY'].str.replace('[^a-zA-W\s]',"",regex=True)
df

0      hello world
1             test
2    four five six
Name: SUMMARY, dtype: object

# Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [22]:
EnteredString = input('Enter a string: ')
Pattern = r'\b\w{4,}\b'
List= re.compile(Pattern).findall(EnteredString)
print(str(List))

Enter a string: The quick brown fox jumps over the lazy dog.
['quick', 'brown', 'jumps', 'over', 'lazy']

# Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [23]:
EnteredString = input('Enter a string: ')
Pattern = r'\b\w{3,5}\b'
List= re.compile(Pattern).findall(EnteredString)
print(str(List))

Enter a string: Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.
['find', 'all', 'three', 'four', 'and', 'five', 'words', 'The', 'use', 'the']

# Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.

In [27]:
EnteredString = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
Pattern = r'\(|\)'
List= re.compile(Pattern)
for i in EnteredString:
    StringList=List.sub('', i)
    print(StringList)

example .com
hr@fliprobo .com
github .com
Hello Data Science World
Data Scientist

# Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.

In [36]:
EnteredString =  ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
print("Entered String in text file : ", EnteredString)
Pattern = r'\s\([\.\w\s]+\)'
FileName = 'T.txt'
with open(FileName, 'r') as TextFile:
    File=str(TextFile.read())
List= re.compile(Pattern)
StringList = List.sub('',File)
print("\nAfter removing the paranthesis area : ",StringList)
OutputFile= 'O.txt'
with open(OutputFile, 'w') as File:
    File.write(StringList)

Entered String in text file :  ['example (.com)', 'hr@fliprobo (.com)', 'github (.com)', 'Hello (Data Science World)', 'Data (Scientist)']

After removing the paranthesis area :  ["example", "hr@fliprobo", "github", "Hello", "Data"]

# Question 7- Write a regular expression in Python to split a string into uppercase letters.

In [3]:
EnteredString = input('Enter a string: ')
List = []
List = re.findall('[A-Z][^A-Z]*',EnteredString)

print(str(List))

Enter a string: ImportanceOfRegularExpressionsInPython
['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

# Question 8- Create a function in python to insert spaces between words starting with numbers.

In [37]:
EnteredString = input('Enter a string: ')
Pattern = r'(?=[0-9])'
List = re.sub(Pattern," ", EnteredString)
print(List)

Enter a string: RegularExpression1IsAn2ImportantTopic3InPython
RegularExpression 1IsAn 2ImportantTopic 3InPython

# Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.

In [40]:
EnteredString = input('Enter a string: ')
Pattern = r'(?=[0-9])|(?=[A-Z])'
List = re.sub(Pattern," ", EnteredString)
print(List)

Enter a string: RegularExpression1IsAn2ImportantTopic3InPython
 Regular Expression 1 Is An 2 Important Topic 3 In Python

# Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.

In [55]:
URL ="https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv"
df=pd.read_csv(URL)

df['first_five_letters'] = df['Country'].str.findall('^[\s\S]{0,6}')
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,[Switze]
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,[Icelan]
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,[Denmar]
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,[Norway]
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,[Canada]

# Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [4]:
EnteredString = input('Enter a string: ')
Pattern = re.compile('[^[a-zA-Z0-9_]*$')
String = Pattern.search(EnteredString)
if String:
    print('Found a match')
else:
    print('Not a match')

Enter a string: JamesBond_007
Found a match

# Question 12- Write a Python program where a string will start with a specific number.

In [5]:
EnteredString = input('Enter a string: ')
EnteredNum = input('Enter a Number: ')
String = re.match(EnteredNum,EnteredString)
if String:
    print('Found a match')
else:
    print('Not a match')

Enter a string: 007JamesBond
Enter a Number: 0
Found a match

# Question 13- Write a Python program to remove leading zeros from an IP address

In [6]:
EnteredIP = input('Enter IP address: ')
String = re.sub('\.[0]*', '.',EnteredIP)
print(String)

Enter IP address: 129.00144.50.56.
129.144.50.56.

# Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.

In [51]:
print("EnteredString : ",'On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country')
Pattern = r'\b(?:January|February|March|April|May|June|July|August|September|October|November|December)\s+\d{1,2}(?:st|nd|rd|th)?\s+\d{4}'
FileName = 'T1.txt'
with open(FileName, 'r') as TextFile:
    File=str(TextFile.read())
List = str(re.findall(Pattern, File))
print("\nOutput file:", List)
FileName='O1.txt'
with open(FileName, 'w') as File:
    File.write(List)

EnteredString :  On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country

Output file: ['August 15th 1947']

# Question 15- Write a Python program to search some literals strings in a string.

In [7]:
String = 'The quick brown fox jumps over the lazy dog.'
LiteralString = re.search('fox|dog|horse', String)
if LiteralString:
    print('Found a match')
else:
    print('Not a match')

Found a match

# Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs

In [8]:
String = 'The quick brown fox jumps over the lazy dog.'
LiteralString = re.search('\Wfox\W', String)
if LiteralString:
    print('Found a match, pattern occurs on', LiteralString.start())
else:
    print('Not a match')

Found a match, pattern occurs on 15

# Question 17- Write a Python program to find the substrings within a string.

In [9]:
String = 'Python exercises, PHP exercises, C# exercises'
Substring='exercises'
LiteralString = re.findall(Substring, String)
if LiteralString:
    print('Found a match')
else:
    print('Not a match')

Found a match

# Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

In [10]:
String = 'Python exercises, PHP exercises, C# exercises'
Substring='exercises'
LiteralString = re.finditer(Substring, String)
for i in LiteralString:
    Start = i.start()
    End = i.end()
    print("The substring ",Substring,"found at position", Start,":",End)

The substring  exercises found at position 7 : 16
The substring  exercises found at position 22 : 31
The substring  exercises found at position 36 : 45

# Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [12]:
Date = '2024-08-22'
Pattern = re.split('-', Date)
NewDate = '-'.join(Pattern[::-1])
print(NewDate)

22-08-2024

# Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.

In [53]:
String = '01.12 0132.123 2.31875 145.8 3.01 27.25 0.25'
Pattern = r'\d+\.\d{1,2}'
List= re.compile(Pattern)
StringList = List.findall(String)
print(StringList)

['01.12', '0132.12', '2.31', '145.8', '3.01', '27.25', '0.25']

# Question 21- Write a Python program to separate and print the numbers and their position of a given string.

In [13]:
EnteredString = input('Enter a string: ')
for i in re.finditer('\d+',EnteredString):
    print("The number in the string is: ",i.group(0))
    print("Index position:", i.start())

Enter a string: Hello, I am 007. James Bond 007
The number in the string is:  007
Index position: 12
The number in the string is:  007
Index position: 28

# Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.

In [14]:
EnteredString = input('Enter a string: ')
MaxNumeric= re.findall('\d+',EnteredString)
MaxNumeric= map(int,MaxNumeric)
print("Maximum Number in the string :", max(MaxNumeric))

Enter a string: My marks in each semester are: 947, 896, 926, 524, 734, 950, 642
Maximum Number in the string : 950

# Question 23- Create a function in python to insert spaces between words starting with capital letters.

In [15]:
EnteredString = input('Enter a string: ')
String = re.sub(r"(\w)([A-Z])", r"\1 \2",EnteredString)
print(String)

Enter a string: RegularExpressionIsAnImportantTopicInPython
Regular Expression Is An Important Topic In Python

# Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [16]:
EnteredString = input('Enter a string: ')
String =re.search('[A-Z]+[a-z]+$',EnteredString)
if String:
    print('Found a match')
else:
    print('Not a match')

Enter a string: RegularExpressionIsAnImportantTopicInPython
Found a match

# Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.

In [17]:
EnteredString = input('Enter a string: ')
String = re.sub("\\b(\\w+)(?:\\W+\\1\\b)+",r'\1',EnteredString)
print(String)

Enter a string: Hello hello world world
Hello hello world

# Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.

In [18]:
EnteredString = input('Enter a string: ')
LiteralString = re.search('[a-zA-z0-9]$', EnteredString)
if LiteralString:
    print('Accept')
else:
    print('Not Accept')

Enter a string: JAmes Bond 007
Accept

# Question 27-Write a python program using RegEx to extract the hashtags.

In [19]:
EnteredString = input('Enter a string: ')
List= re.findall( r'#\S+',EnteredString)
print(List)

Enter a string: RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo
['#Doltiwal', '#xyzabc', '#Demonetization']

# Question 28- Write a python program using RegEx to remove <U+..> like symbols

In [62]:
EnteredString = input('Enter a string: ')
Pattern = re.compile(r'<U\+[0-9A-Z]+>')
List= Pattern.sub("",EnteredString)
print("\nOutput text : ",List)

Enter a string: @Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders

Output text :  @Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

# Question 29- Write a python program to extract dates from the text stored in the text file.

In [63]:
FileName='T3.txt'
Pattern = re.compile(r'\d{1,2}-\d{1,2}-\d{1,4}')
with open(FileName, 'r') as File:
    List=File.read()
StringList = re.findall(Pattern, List)
print(StringList)

['12-09-1992', '15-12-1999']

# Question 30- Create a function in python to remove all words from a string of length between 2 and 4.
The use of the re.compile() method is mandatory.

In [65]:
EnteredString=input('Enter a string: ')
def remove(Text):
    Pattern = r'\b[A-Za-z]{2,4}\b'
    List=re.compile(Pattern)
    StringList= List.sub('', Text)
    return StringList

String=remove(EnteredString)
print("\nOutput String :",String)

Enter a string: The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly.

Output String :  following example creates  ArrayList  a capacity  50 elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.